{% extends 'rsvp/base.html' %}
    {% block content %} 
        <div>
            <h3>{{ username }}  Welcome!</h3>
        </div>
        <div>
          <h3><a href="{% url 'create_event' %}">Create Event</a></h3>
        </div>
        <div>
          <h3><a href="{% url 'myevent' %}">My Event</a></h3>
        </div>
        <div>
          <h3><a href="{% url 'vendorevent' pk=user.pk %}">Vendor Event</a></h3>
        </div>
        <div>
          <h3><a href="{% url 'guestevent' pk=user.pk %}">Guest Event</a></h3>
        </div>
        
    {% endblock %}